<!doctype html>
<html>

<head>
    <title>Beyond Voice by FRSH</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">

            <h1>
                <span class="fa fa-sign-in"></span> Add Content Tag</h1>
            <a href="/cms/content_tags" class="btn btn-info">Back to Content Tags</a>

            <h4>Content Tag information: </h4>

            <% if (data) { %>
                <form action="/cms/content_tags/<%=data._id%>/update" method="post">
            <% } else { %>
                <form action="/cms/content_tags/new" method="post">
            <% } %>
                <label>Name: </label>
                <% if (data) { %>
                    <input type="text" class="form-control" name="name" value="<%= data.name%>">
                <% } else { %>
                    <input type="text" class="form-control" name="name">
                <% } %>

                <table class='table table-hover table-bordered'>
                    <tr class='active'>
                        <th></th>
                        <th class='col-md-3'>Name: </th>
                        <th class='col-md-3'>Location: </th>
                        <th class='col-md-2'>Created At: </th>
                        <th class='col-md-2'>Last Updated: </th>
                        <th class='col-md-2'>Active: </th>
                    </tr>
                    <% for (let i = 0; i < contents.length; i++) { %>
                        <tr>
                            <td>
                                <input type="checkbox" id="<%=contents[i]._id%>" name="content_ids" value="<%=contents[i]._id%>" />
                            </td>
                            <td>
                                <%= contents[i].name %>
                            </td>
                            <td>
                                <%= contents[i].content_location %>
                            </td>
                            <td>
                                <%= contents[i].created_at %>
                            </td>
                            <td>
                                <%= contents[i].last_updated %>
                            </td>
                            <td>
                                <input type="checkbox" id="active" name="active_content" value="<%=contents[i]._id%>" />
                            </td>
                        </tr>
                        <% } %>
                </table>
                <input type="submit" value="Save changes" class="btn btn-info" />
            </form>

            <div class="text-center">
                <p>
                    <center>Fresh Digital Group Inc.</center>
                </p>
            </div>

        </div>
    </div>
</body>

</html>