<!doctype html>
<html>
<head>
   <title>Beyond Voice by FRSH</title>
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
   <link href="/src/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <% include ./partials/navbar %>
</header>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

   <h1><span class="fa fa-sign-in"></span> Edit account</h1>
   <a href="/profile" class="btn btn-info">Back to profile</a>

   <h4>Account information: </h4>

   <% if (typeof message != 'undefined') { %>
       <div class="alert alert-danger"><%= message %></div>
   <% } %>

    <form action="/profile/edit-profile" method="post">
        <label>First name: </label>
        <input type="text" class="form-control" name="firstName" value='<%= user[0].firstName %>'>
        <label>Last name: </label>
        <input type="text" class="form-control" name="lastName" value='<%= user[0].lastName %>'>
        <label>Email: </label>
        <input type="text" class="form-control" name="email" value='<%= user[0].local.email %>'>
        <label>Permissons: </label>
        <input type="text" class="form-control" name="permissions" value='<%= user[0].role %>'>
        <label>Client id: </label>
        <input type="text" class="form-control" name="ownerId" value='<%= user[0].ownerId %>'>

        <input type='hidden' class='form-control' name='userId' value='<%= user[0]._id %>'>

        <input type="submit" value="Save changes" class="btn btn-info"/>
    </form>
</div>
</div>
<footer>
    <% include ./partials/footer %>
</footer>
<% include ./partials/scripts %>
</body>
</html>
