<!doctype html>
<html>

<head>
    <title>Beyond Voice by FRSH</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="/src/css/Profile.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <% include ./partials/navbar %>
    </header>
    <div class="container">
        <div class="loginbox ">

            <div class="page-header text-center">
                <h1>
                    <span class="fa fa-anchor"></span> Profile Page</h1>
                <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            </div>



            <!-- LOCAL INFORMATION -->

            <h3>
                <span class="fa fa-user"></span> Local</h3>

            <% if (user.local.email) { %>
                <p>
                    <strong>id</strong>:
                    <%= user._id %>
                        <br>
                        <strong>email</strong>:
                        <%= user.local.email %>
                            <br>
                            <strong>password</strong>:
                            <%= user.local.password %>
                </p>

                <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                    <% } %>

                        <br/>
                        <br/>

                        <!-- FACEBOOK INFORMATION -->

                        <span class="fa fa-facebook"></span>

                        <!-- check if the user has this token (is the user authenticated with this social account) -->
                        <% if (user.facebook.token) { %>
                            <p>
                                <strong>id</strong>:
                                <%= user.facebook.id %>
                                    <br>
                                    <strong>token</strong>:
                                    <%= user.facebook.token %>
                                        <br>
                                        <strong>email</strong>:
                                        <%= user.facebook.email %>
                                            <br>
                                            <strong>name</strong>:
                                            <%= user.facebook.name %>
                                                <br>
                            </p>

                            <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                            <% } else { %>
                                <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                                <% } %>





                                    <span class="fa fa-twitter"></span>
                                    </h3>

                                    <% if (user.twitter.token) { %>
                                        <p>
                                            <strong>id</strong>:
                                            <%= user.twitter.id %>
                                                <br>
                                                <strong>token</strong>:
                                                <%= user.twitter.token %>
                                                    <br>
                                                    <strong>display name</strong>:
                                                    <%= user.twitter.displayName %>
                                                        <br>
                                                        <strong>username</strong>:
                                                        <%= user.twitter.username %>
                                        </p>

                                        <a href="/unlink/twitter" class="btn btn-info">Unlink</a>
                                        <% } else { %>
                                            <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
                                            <% } %>


                                                <span class="fa fa-google-plus"></span>
                                                </h3>

                                                <% if (user.google.token) { %>
                                                    <p>
                                                        <strong>id</strong>:
                                                        <%= user.google.id %>
                                                            <br>
                                                            <strong>token</strong>:
                                                            <%= user.google.token %>
                                                                <br>
                                                                <strong>email</strong>:
                                                                <%= user.google.email %>
                                                                    <br>
                                                                    <strong>name</strong>:
                                                                    <%= user.google.name %>
                                                    </p>

                                                    <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                                                    <% } else { %>
                                                        <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                                                        <% } %>

                                                            <br/>
                                                            <br/>
                                                            <span class="fa fa-amazon"></span>
                                                            </h3>

                                                            <% if (user.amazon.token) { %>
                                                                <p>
                                                                    <strong>id</strong>:
                                                                    <%= user.amazon.id %>
                                                                        <br>
                                                                        <strong>token</strong>:
                                                                        <%= user.amazon.token %>
                                                                            <br>
                                                                            <strong>email</strong>:
                                                                            <%= user.amazon.email %>
                                                                                <br>
                                                                                <strong>name</strong>:
                                                                                <%= user.amazon.name %>
                                                                </p>


                                                                <a href="/unlink/amazon" class="btn btn-primary">Unlink</a>
                                                                <% } else { %>
                                                                    <a href="/connect/amazon" class="btn btn-primary">Connect Amazon</a>
                                                                    <% } %>




                                                                        <span class="fa fa-windows"></span>
                                                                        </h3>

                                                                        <% if (user.microsoft.token) { %>
                                                                            <p>
                                                                                <strong>id</strong>:
                                                                                <%= user.microsoft.id %>
                                                                                    <br>
                                                                                    <strong>token</strong>:
                                                                                    <%= user.microsoft.token %>
                                                                                        <br>
                                                                                        <strong>email</strong>:
                                                                                        <%= user.microsoft.email %>
                                                                                            <br>
                                                                                            <strong>name</strong>:
                                                                                            <%= user.microsoft.name %>
                                                                            </p>

                                                                            <a href="/unlink/microsoft" class="btn btn-primary">Unlink</a>
                                                                            <% } else { %>
                                                                                <a href="/connect/microsoft" class="btn btn-primary">Connect Microsoft</a>
                                                                                <% } %>

                                                                                    <footer>
                                                                                        <% include ./partials/footer %>
                                                                                    </footer>
                                                                                    <% include ./partials/scripts %>


        </div>
        <center>

            <div class="text-center" id="recCounter">
            </div>
        </center>
    </div>

</body>

<script>
    (function worker() {
        $.ajax({
            url: 'http://localhost:8000/dmp/reporting/realtime',
            'content-type': 'application/json',
            'method': "GET",
            success: function (data) {
                $('#recCounter').html(data.result);
            },
            complete: function () {
                // Schedule the next request when the current one's complete
                setTimeout(worker, 10000);
            }
        });
    })();
</script>

</html>