<!doctype html>
<html>

<head>
    <title>Beyond Voice by FRSH</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="/src/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <% include ../../partials/navbar %>
    </header>
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1">
            <h1><span class="fa fa-sign-in"></span>Content</h1>
            <a href="/cms/contents/<%=data._id%>/update" class="btn btn-info">Update Content</a>

            <div></br></div>

            <% if (message.length > 0) { %>
                <div class="alert alert-danger">
                    <%= message %>
                </div>
            <% } %>

            <table class='table table-hover table-bordered'>
                <tr class='active'>
                    <th class='col-md-3'>Name</th>
                    <th class='col-md-3'>Location</th>
                    <th class='col-md-2'>Created At</th>
                    <th class='col-md-2'>Last Updated</th>
                </tr>
                <tr>
                    <td>
                        <%= data.name %>
                    </td>
                    <td>
                        <%= data.content_location %>
                    </td>
                    <td>
                        <%= data.created_at %>
                    </td>
                    <td>
                        <%= data.last_updated %>
                    </td>
                </tr>
            </table>

            <h4>Content Tags: </h4>

            <table class='table table-hover table-bordered'>
                <tr class='active'>
                    <th class='col-md-2'>Name</th>
                    <th class='col-md-2'>Active</th>
                    <th class='col-md-2'>Created At</th>
                    <th class='col-md-2'>Last Updated</th>
                </tr>
                <% for (let i = 0; i < content_tags.length; i++) { %>
                    <tr>
                        <td>
                            <%= content_tags[i].name %>
                        </td>
                        <td>
                            <% if (content_tags[i].active_tag) { %>
                                <p>Active</p>
                            <% } else { %>
                                <p>Not Active</p>
                            <% } %>

                        </td>
                        <td>
                            <%= content_tags[i].created_at %>
                        </td>
                        <td>
                            <%= content_tags[i].last_updated %>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
    <footer>
        <% include ../../partials/footer %>
    </footer>

    <% include ../../partials/scripts %>
</body>

</html>